<div id = "outer-wrapper">
  <div id = "intro">
    <h3>Welcome to the home page of our app.</h3>
    <p>Our application uses the Twitter API to receive tweets based on a specific #hashtag.</p>
    <p>To begin:</p>
    <ol>
      <li>Enter a "hashtag" term in the search box.  Do not include the # symbol in the search field. Then hit go.</li>
        <ul>
          <li>The default hashtag is: coffee.</li>
        </ul>
      <li> Select a button</li>
        <ul>
          <li>DISPLAY TWEETS :  Will display the most recent tweets.</li>
          <li>HASHTAGS :  Will display other similar hashtags.</li>
          <li>LOCATION :  Will display the location of users.</li>
          <li>CONNECT :  Will display other people to connect with.</li>
        </ul>
    </ol>
    </div>
    <div id = "authors">
      <p>Created by: Lyubov Sidlinskaya, Nick Hafner, Sam Trenter & Parker Mertz.
      </p>

    </div>
</div>
